
.vs/Restaurant/v14/.suo
Restaurant/App.config
Restaurant/bin/Debug/Restaurant.exe.config
Restaurant/bin/Debug/Restaurant.vshost.exe
Restaurant/bin/Debug/Restaurant.vshost.exe.config
Restaurant/bin/Debug/Restaurant.vshost.exe.manifest
Restaurant/obj/Debug/App.g.i.cs
Restaurant/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Restaurant/obj/Debug/MainWindow.g.i.cs
Restaurant/obj/Debug/Restaurant.csproj.FileListAbsolute.txt
Restaurant/obj/Debug/Restaurant_MarkupCompile.i.cache
Restaurant/obj/Debug/Restaurant_MarkupCompile.i.lref
Restaurant/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Restaurant/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Restaurant/bin/Debug/Restaurant.exe
Restaurant/bin/Debug/Restaurant.exe.config
Restaurant/bin/Debug/Restaurant.pdb
Restaurant/obj/Debug/App.g.cs
Restaurant/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Restaurant/obj/Debug/App.g.i.cs
